<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplication2App.geoFence.home.title">Geo Fences</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-geo-fence" [routerLink]="['/geo-fence/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplication2App.geoFence.home.createLabel">
            Create a new Geo Fence
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="geoFences?.length === 0">
        <span jhiTranslate="jhipsterSampleApplication2App.geoFence.home.notFound">No geoFences found</span>
    </div>
    <div class="table-responsive" *ngIf="geoFences?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplication2App.geoFence.fenceID">Fence ID</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplication2App.geoFence.name">Name</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplication2App.geoFence.fencecode">Fencecode</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplication2App.geoFence.type">Type</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplication2App.geoFence.createdBy">Created By</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplication2App.geoFence.createdTime">Created Time</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplication2App.geoFence.modifiedBy">Modified By</span></th>
            <th scope="col" ><span jhiTranslate="jhipsterSampleApplication2App.geoFence.modifiedTime">Modified Time</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let geoFence of geoFences ;trackBy: trackId">
                <td><a [routerLink]="['/geo-fence', geoFence.id, 'view' ]">{{geoFence.id}}</a></td>
                <td>{{geoFence.fenceID}}</td>
                <td>{{geoFence.name}}</td>
                <td>{{geoFence.fencecode}}</td>
                <td>{{geoFence.type}}</td>
                <td>{{geoFence.createdBy}}</td>
                <td>{{geoFence.createdTime | date:'mediumDate'}}</td>
                <td>{{geoFence.modifiedBy}}</td>
                <td>{{geoFence.modifiedTime}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/geo-fence', geoFence.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/geo-fence', geoFence.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(geoFence)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
